.height-80 {
  height: 80%; 
}

.height-10 {
  height: 10%; 
}

.mt-10{
  top:10%;
}  

.content {
  background-color: #16EA9A; 
}

.overflow {
  overflow: scroll;
}  

body {
  height: 100%;
  width: 100%; 
}
